################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cSharpDataStructures/.vs/cSharpDataStructures
/cSharpDataStructures/obj
/cSharpDataStructures/.vs/ProjectEvaluation
